[submodule "ccpp-framework"]
	path = ccpp/framework
	url = https://github.com/NCAR/ccpp-framework
	branch = master
[submodule "ccpp-physics"]
	path = ccpp/physics
	url = https://github.com/edwardstrobach/ccpp-physics.git
	branch = feature/ccpp-physics_scm
